@{
    ViewData["Title"] = "aForUs Page";
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">

    <style>
        main {
            border-width: 3px;
            border-color:goldenrod
            border-style: solid;
        }
    </style>
</head>
<body>
    <div class="text-center">

        <h3 class="display-4">За Нас - TrucksTakov</h3>
        <p style="text-align:center;">

            TrucksTakov е цялостен онлайн пазар за покупка и продажба на нови и употребявани камиони, ремаркета и други търговски превозни средства. Платформата свързва купувачи и продавачи от цял ​​свят, осигурявайки безпроблемно купуване и продаване. TrucksTakov предлага широка гама от превозни средства, включително тежкотоварни камиони, лекотоварни камиони и специализирани автомобили за специфични индустрии. Потребителите могат да търсят превозни средства въз основа на техните специфични нужди, включително марка, модел, година, ценови диапазон и местоположение. TrucksTakov предоставя на купувачите подробна информация за превозното средство, включително снимки, спецификации и доклади за състоянието, и предлага опции за финансиране и услуги за доставка, за да улесни транзакциите. Продавачите могат лесно и бързо да обявят превозните си средства за продажба и да се възползват от широката мрежа от купувачи на TrucksTakov. TrucksTakov е идеалният пазар за всеки, който иска да купи или продаде търговски превозни средства.

        </p>
        <img src="https"
             alt="Store pic" width="800" height="1000">
    </div>
</body>
</html>
