<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Privacy Policy</title>
</head>
<body>
    <h1>Privacy Policy</h1>

    <p>Your privacy is important to us. It is our policy to respect your privacy regarding any information we may collect from you across our website,TrucksTakov.</p>

    <h2>Information We Collect</h2>

    <p>We only collect information about you if we have a reason to do so – for example, to provide our services, to communicate with you, or to make our services better.</p>

    <p>We collect this information from three sources: if and when you provide information to us, automatically through operating our services, and from outside sources.</p>

    <h2>Use of Your Information</h2>

    <p>We only use your personal information to provide you with the services you have requested from us, and to communicate with you. We do not sell or rent your personal information to anyone.</p>

    <h2>Disclosure of Your Information</h2>

    <p>We may share your personal information in limited circumstances, such as to comply with applicable law, or to protect our rights and property.</p>

    <h2>Security of Your Information</h2>

    <p>We take all reasonable measures to protect your personal information from unauthorized access, use, or disclosure. However, no method of transmission over the internet, or method of electronic storage, is 100% secure.</p>

    <h2>Changes to Our Privacy Policy</h2>

    <p>We may update this privacy policy from time to time. We will notify you of any changes by posting the new privacy policy on our website. You are advised to review this privacy policy periodically for any changes.</p>

    <h2>Contact Us</h2>

    <p>If you have any questions about our privacy policy, please contact us at "Contact us" page.</p>
</body>
</html>
